
.start {
    overflow: hidden;
}

img {
    width: 300px;
    display: block;
    
}



@font-face {
    font-family: "Jelytta";
    src: url("../assets/fonts/Jelytta.ttf") format("truetype");
}



.menu {
    height: 50px;
    background-color: rgb(213, 236, 243);
    font-family: "Jelytta";
    padding: 20px;
    box-shadow: 0px 5px 10px gray;
    align-items: center;
    display: flex;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    transition: top 0.5s;
    z-index: 100;
}

.menu.show {
    top: 0;
}

.menu h1 {
    margin-right:50px;
}

.menu a {
    margin: 0 15px;
    color: rgb(55, 154, 201)
}

.menu a.active {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(2, 86, 126)
}

.menu h1 {
    text-align: left;
}


.engagement {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   background-color: black;
}


#engagementVid {
    
    height: 100%;
    width: auto;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: filter 0.5s;
}

.intro {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
}

.whiteFade {
    position: absolute;
    inset: 0;
    background: white;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.engagement .intro {
  
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    border-radius: 10px;

}

@font-face {
    font-family: "Jelytta";
    src: url("../assets/fonts/Jelytta.ttf") format("truetype");
}

.engagement .intro h2 {
    font-family: "Jelytta", cursive;
}
.engagement .intro p {
    font-family: "Jelytta", cursive;
}


.video-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.video-controls button {
    background: none;
    border: none;
    cursor: pointer;
}

.video-controls img {
    width: 40px;
    height: 40px;
}