body {
    cursor: url("../assets/cursor1.png"), auto;
}

.start {
    overflow: hidden;
}


@font-face {
    font-family: "Lora";
    src: url("../assets/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
}
.menu {
    height: 35px;
    background-color: rgb(164, 214, 173);
    font-family: "Lora";
    padding: 20px;
    box-shadow: 0px 5px 10px gray;
    align-items: center;
    display: flex;
}


.menu .start {
    margin-right:50px;
    font-size: 30;
    color: black;
    margin-right: 100px;
}

.menu a {
    margin: 0 15px;
    color: rgb(255,255,255);
    text-decoration: none;
    
}

.menu a:hover{
    cursor:grab;
}

.menu a.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: wavy;
    color: rgb(255,110,97);
}

.menu h1 {
    text-align: left;
}


