.headerimage {
    width: 100%;
    height: 600px;

    background-image: url("../assets/lurö2.jpg");
    background-size: cover;
    background-position: center;

}







.directions2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    flex-direction: row;
   
    
}


.directions1 .maps-buttons{
    display: flex;
    gap: 12px;
    
}
.directions1 .maps-buttons button{
    width: 75px;
    height: 30px;
    background-color:#FC8F30;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px gray;
    margin-top: 10px;
}

.directions2 iframe{
    margin-top: 10px;
}


.directions2 .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    width:1000px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    border-radius: 10px;

}
.directions3{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #FFD4CB;
}

.directions3 summary{
    font-family: "Lora";
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 10px;
}


