body {
    cursor: url("../assets/cursor1.png"), auto;
}

.start {
    overflow: hidden;
}

@font-face {
    font-family: "Lora";
    src: url("../assets/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
}

.intro {
    
    font-weight: 400;
    font-size: 22;
    width: 1200px;
    margin-left: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-family: "Lora";
}

h {
    font-family: "Lora";
    font-size: 20;
  
}
.menu {
    height: 35px;
    background-color:#B8C56B;
    font-family: "Lora";
    padding: 20px;
    box-shadow: 0px 5px 10px gray;
    align-items: center;
    display: flex;
}


.menu .start {
    margin-right:50px;
    font-size: 30;
    color: rgb(4, 4, 4);
    margin-right: 100px;
}

.menu a {
    margin: 0 15px;
    color:#0f1100;
    text-decoration: none;
    position: relative;
    
}

.menu a:hover{
    cursor:grab;
}


.menu a .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 220%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.menu a .circle circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: draw-circle 0.6s linear forwards;
}

@keyframes draw-circle {
    to {
        stroke-dashoffset: 0;
    }
}


.menu a.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: wavy;
    color:#db6906;
}

.menu h1 {
    text-align: left;
}


