@font-face {
    font-family: "Playwright";
    src: url("../assets/fonts/PlaywriteUSModern-VariableFont_wght.ttf") format("truetype");
}


.headerimage{
    width: 100%;
    height: 400px;

    background-image: url("../assets/lurö2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}


.section button{
    font-family: "Playwright";
    height: 3.5vw;
    width: 10vw;
    border-color: rgb(224, 224, 224);
    border-radius: 9999999px;
     box-shadow:
        0 4px 4px rgba(0, 0, 0, 0.2),
        inset 0 4px 4px rgba(0, 0, 0, 0.15);
}

#göteborg{
    background-color: rgba(216, 54, 104, 1);
}

#malmö{
    background-color: rgba(221, 230, 241, 1);
}

#stockholm{
    background-color: (243, 230, 200, 1);
}

#varberg{
    background-color: rgba(237, 242, 208, 1);
}

#kungälv{
    background-color: rgba(250, 213, 224, 0.2);
}

.section #map{
    margin-top:2vw;
    width: 50vw;
}