



@font-face {
    font-family: "Lora";
    src: url("../assets/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
}



.checklist {
    
    display: flex;
    flex-direction: column;
    background-color: #fdca9d;
    width: 600px;
    margin-left: 20px;
    margin-top: 25px;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px gray;
    font-family: "Lora";
    font-size: 24;
    
    
}
.checklist .title {
    font-weight: 300;
}
.checklist input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #D83668;
    border-radius: 5px;
    cursor: pointer;
}

.checklist input[type="checkbox"]:checked {
    background: #D83668
}
