.contacts .contact{
    display: flex;
    flex-direction: row;
    margin-left: 5%
}

.contacts {
    margin-bottom: 24px;
}

.info{
    margin-left: 20px;
}

.contact img{
    box-shadow: 0px 5px 10px gray;
}