



@font-face {
    font-family: "Lora";
    src: url("../assets/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Jakarta";
    src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}


.checklist {
    
    display: flex;
    flex-direction: column;
   
    width: 600px;

    margin-top: 25px;
    padding: 20px;
    gap: 1.25vw;
    font-family: "Jakarta";
    font-size: 1.25vw;
    
    
}
.checklist .title {
    font-weight: 300;
}
.checklist input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #D83668;
    border-radius: 5px;
    cursor: pointer;
}

.checklist input[type="checkbox"]:checked {
    background-image: url("../assets/icons/checked.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}   

.section .subsection{
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

#checklist{
    width: 25vw;
    height: auto;
}