.headerimage {
    width: 100%;
    height: 400px;

    background-image: url("../assets/pic4.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
@font-face {
    font-family: "Lora";
    src: url("../assets/fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
}

.headerimage h1{
    font-family: "Lora";
    font-size: 60;
    color:white

}   





#agenda{
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
}

.day-container{

   position: relative;
    background:rgba(244, 245, 240, 1);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
    width:20vw;
    height: 25vw;
    transition: all 0.4s ease;
    
}

.day-container .day{
   text-align: center;
}

des{
    font-family: "Space Grotesk";
    color: rgba(133, 116, 121, 1);
    font-size: 1vw;
    top: 1vw;
}

summary {
    font-size: 1.5vw;
    font-weight:400;
    cursor: pointer;
    font-family: "Playwright";
    place-items: center;
}
.image-container{
    position: absolute;
   
   bottom: 10%;
   left: 50%; 
    transform: translateX(-50%); 
}

.day-container img{
    width: 15vw; 
}



button.arrow{
    position:absolute;
    top:50%;
   
    transform:translateY(-50%);
    display:none;

    border: none;
   
    width:40px;
    height:40px;
    align-items:center;
    justify-content:center;
}

button.arrow.left{
    left:20px;
    background-image: url("../assets/icons/ArrowLeft.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button.arrow.right{
    right:20px;
    background-image: url("../assets/icons/ArrowRight.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.day-container p{
    display: none;
    
}


.day-container.expanded {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 80vw;
    height: 70vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.day-container.expanded p{
   
    display: block;
    font-size: 30px;
}


.day-container.expanded summary {
    font-size: 36px;
    font-weight:400;
    cursor: pointer;

}

.day-container.expanded .image-container {
    position: absolute;
    width: 40vw;
    height: auto;
    right:10%;
    top:500%;
  
}

.day-container.expanded button.arrow{
    display: flex;
   
}

