body {
    cursor: url("../assets/cursor1.png"), auto;
}

.start {
    overflow: hidden;
}


@font-face {
    font-family: "Jelytta";
    src: url("../assets/fonts/Jelytta.ttf") format("truetype");
}
.menu {
    height: 50px;
    background-color: rgb(213, 236, 243);
    font-family: "Jelytta";
    padding: 20px;
    box-shadow: 0px 5px 10px gray;
    align-items: center;
    display: flex;
}


.menu h1 {
    margin-right:50px;
}

.menu a {
    margin: 0 15px;
    color: rgb(55, 154, 201)
}

.menu a.active {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(2, 86, 126)
}

.menu h1 {
    text-align: left;
}


