


.checklist1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    flex-direction: column;
    margin-left: 25px;
    width: 1000px;
    
}

.checklist1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18;
}


.checklist {
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    
    
}